table {
    font-size: 0.8em;
}

.login-page input {
    width:100%;
}

.login-btn {
    text-align: end;
    padding-top: 0.5rem;
}

.list-toolbar {
    text-align:end;
}

.list-toolbar .btn {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px 5px 3px 5px;
    width: 80px;
}

/*.list-filter input, .list-filter select {
    width: 100%;
    margin-top: 5px;
}*/

.list-table div {
    max-height: 75vh;
    overflow-y: scroll;
    margin-bottom: 10px;
}

.article-card{

}

.article-card {
    font-size: 0.8em;
}


    .article-card .container .container {
        border: 1px solid #999;
        border-radius: 6px;
    }

.ellipsis {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bor-round {
    border: 1px solid #999;
    border-radius: 6px;
}

.txt-align-center{
    text-align:center;
}

.txt-align-start {
    text-align: start;
}

.txt-grey{
    color:#666;
}

.undeline {
    border-bottom: 1px solid #17a2b8;
}

.overline {
    border-top: 1px solid #17a2b8;
}

@media (min-width: 576px){
    .container {
        max-width:100%;
    }
}


.btn-round {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 0px;
    font-size: 1.4em;
}

.flex-center-container {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.btn:disabled{
    opacity:0.4;
}


.inline-top {
    display: inline-block;
    vertical-align: top;
    width:unset;
}